<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Swag Labs" verbose="1">
   <test name="inventory" parallel="methods" thread-count="3">

       <classes>
     <class name="swaglabsTC.LogInPageTC" />
   <class name="swaglabsTC.InventoryTC"/>

</classes>

    </test>


</suite>
